@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500&display=swap");

.featured-image {
  width: 100%;
}
body {
  margin: 0;
  font-family: "Baloo 2";
}

.navigation {
  font-size: 24px;
}

.navigation a {
  text-decoration: none;
}
