@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500&display=swap");

.featured-image {
  height: 400px;
}

body {
  margin: 0;
  font-family: "Baloo 2";
}

.navigation {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation a {
  text-decoration: none;
  color: black;
  font-size: 21px;
}

.navigation-links a {
  margin-left: 30px;
}

.featured-article {
  display: flex;
}

.featured-article-info {
  padding-left: 30px;
}

.featured-article-info h1 {
  font-size: 48px;
}

p {
  font-size: 16px;
}

.topic-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0;
}

.topic-heading {
  font-size: 24px;
}

.topic-list a {
  font-size: 14px;
  text-decoration: none;
  background-color: #ffdeee;
  padding: 10px 15px;
  color: #473356;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
